.c-1{
    background-color: aqua;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.c-title{
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.c-menu{
    width: 25%;
    display: flex;
    justify-content: space-around;
}


.c-button{
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.c-button:hover{
    background-color: white;
}