.feilds {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 12vw auto;


}
.innerfeild {
  padding: 1vw;
  width: 200px;
  border: none;
  outline: none;
}
.innerfeildbutton {
 width: 100%;
  padding: 1.2vw;
  background-color:orangered;
  height: 5vw;
}
.feild {
  padding: 20px;
}
.innerfeild:focus {
  border-bottom: 2px solid orangered;
}

.container-1{
padding: 5px;
}

.signpage{
  display: flex;
  justify-content: space-evenly;
  font-family:'Times New Roman', Times, serif;
  font-weight:300;
  margin-top: 20px;

}
.helo{
  border-bottom: 2px solid black;
  width: 30%;
  text-align: center;
}

.signpage > div{
  text-align: center;
  flex: 1;
}